
.titlebottom {	
        clear: left;
	border-bottom:1px solid #ccc;
        margin-bottom: 10px;
}

.clearfloat {	
        clear: left;
}

.divsubobject {	
        clear: left;
        padding-bottom: 10px;
	border-bottom:1px dotted #ccc;
}

.tabla_idiomas td {
	padding:5px;
}

.t_h td{
	font-weight:bold;	
}

.strong{	
	font-weight:bold;	
}

.formatted_text{	
	text-align:justify;
}

.organisation_title {
	font-weight:bold;
	font-style: italic;
}

.resume h3{
margin:0;
}

.resume_collapsible_box {
	/* background:none; */
        background-color:#dedede;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	padding:2px;
	margin:0px;
	display:block;
}

.resume_collapsibleboxlink {
	float:right;
    font-size:18px;
    position:relative;
    bottom:8px;
}

.resume_collapsible_box_hidden {
	/* background:none; */
        background-color:#dedede;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	padding:2px;
	margin:0px;
	display:hidden;
}

.resume_contentWrapper {
        background-color:#dedede;
margin:0 10px 4px;
padding:0px 10px;
}



.resume_icon_wrapper_print{
float:right;
}

.print-block{
border-bottom:2px solid;
border-color:#cccccc;
padding-top:10px;
padding-bottom:40px;
}


.resume_body_printer {
	text-align:left;
	padding:0;
	background-color:#ffffff;
	font: 15px  "Lucida Grande", Verdana, sans-serif;
	color: #000000;
}
.resume_body_printer a {
	color: #4690d6;
	text-decoration: none;
	-moz-outline-style: none;
	outline: none;
}
.resume_body_printer a:visited {

}
.resume_body_printer a:hover {
	color: #0054a7;
	text-decoration: underline;
}
.resume_body_printer p {
	
}

.resume .profile_info_edit_buttons a:link, .resume .profile_info_edit_buttons a:visited {
    color: white !important;
    margin-left: 10px;
}

.resume h2 {
    margin-top:15px;
}
